<div class="row m-1 gx-2 gy-2 " style="justify-content: center; align-items: center;">

    <div class="grid-row">
        <div >
            <h1 style="margin: auto; font-size: 30px;">Grados Día</h1>      
        </div>

        <mat-card class="dato card">
            <mat-card-title style="display: flexbox;">Hoy   <span style="color: #b5473f; font-size:  4">{{(fechaActual)}}</span></mat-card-title>
            <mat-card-subtitle>{{estacionReal}}</mat-card-subtitle>
            <h1 style="color: #b5473f;"><b>N/A</b>
                <p> gd</p>
            </h1>
        </mat-card>
    
        <mat-card class="dato card">
            <mat-card-title>Ayer</mat-card-title>
            <mat-card-subtitle>{{estacionReal}}</mat-card-subtitle>
            <h1 style="color: #b5473f;"><b>N/A</b>
                <p> gd</p>
            </h1>
        </mat-card>
    
        <mat-card class="dato card">
            <mat-card-title>Este Mes</mat-card-title>
            <mat-card-subtitle>{{estacionReal}}</mat-card-subtitle>
            <h1 style="color: #b5473f;"><b>N/A</b>
                <p> gd</p>
            </h1>
        </mat-card>
    
    
        <mat-card class="dato card">
            <mat-card-title>Este año</mat-card-title>
            <mat-card-subtitle>{{estacionReal}}</mat-card-subtitle>
            <h1 style="color: #b5473f;"><b>N/A</b>
                <p> gd</p>
            </h1>
        </mat-card>
    </div>

    <div class="col-12">
        <mat-card class="input card p-1 px-2 ">
            <div class="d-flex justify-content-between">
                <h2 class="m-0">Input Temporales</h2>
                <span class="alert-input d-flex align-items-center" *ngIf="invalidDates">
                    <b>Seleccione un Periodo</b>
                    <mat-icon class="ms-1" style="color: rgb(141, 0, 0);">info</mat-icon>
                </span>
            </div>

            <div class=" d-flex justify-content-between">
                <form [formGroup]="formTemporal" class="flex-grow-1 d-flex flex-column flex-sm-row justify-content-between">
                    <div>
                        <mat-form-field class="mt-1 mt-sm-0" style="margin-bottom: -15px;" appearance="fill">
                            <mat-label>Intervalo de Fechas</mat-label>
                            <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
                                <input matStartDate placeholder="Inicio" required formControlName="start">
                                <input matEndDate placeholder="Termino" required formControlName="end">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
    
                        <mat-form-field *ngIf="groupCustom" class="mt-1 mt-sm-0 ms-0 ms-sm-2"
                            style="margin-bottom: -15px;" appearance="fill">
                            <mat-label>Resolucion</mat-label>
                            <mat-select formControlName="agrupacionCustom">
                                <mat-option *ngFor="let item of agrupacionCustom" [value]="item.value">{{item.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="!groupCustom" class="mt-1 mt-sm-0 ms-0 ms-sm-2"
                            style="margin-bottom: -15px;" appearance="fill">
                            <mat-label>Resolucion</mat-label>
                            <mat-select formControlName="agrupacionTemporadas">
                                <mat-option *ngFor="let item of agrupacionTemporadas" [value]="item.value">{{item.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="mt-1 mt-sm-0 ms-0 ms-sm-2"
                            style="margin-bottom: -15px;" appearance="fill">
                            <mat-label>Tipo Consulta</mat-label>
                            <mat-select formControlName="tipoConsulta">
                                <mat-option value="/serie_custom">Examinar Intervalo</mat-option>
                                <mat-option value="/serie_temporadas">Comparacion por Intervalo</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>

    <!-- /////////////////////////////////////////////////////////////////////////////// -->

    <div class="col-12 col-lg-6">
        <mat-card class="card map p-1 px-2">
            <app-map [stationsNoData]="stationsNoData" (selectedStations)="addStations($event)"></app-map>
        </mat-card>
    </div>

    <div class="col-12 col-lg-6 ">
        <mat-card class="card p-2 mb-2" style="height: 65vh;">
            <div class="d-flex justify-content-between pb-1">
                <h2 class="m-0">Tabla Resumen de Datos</h2>
                <mat-spinner class="d-inline" [diameter]="30" *ngIf="data == null && loadingData && complete">
                </mat-spinner>
            </div>
            <div  style="overflow-y: auto; max-height: 58vh;">
                <table *ngIf="estaciones.length > 0 && !invalidDates" mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">

                    <ng-container matColumnDef="estacion">
                        <th mat-header-cell *matHeaderCellDef>Estacion </th>
                        <td mat-cell *matCellDef="let element"> {{element.estacion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="acumulado">
                        <th class="text-center" mat-header-cell *matHeaderCellDef>Grados Día Acumulado</th>
                        <td class="text-center" mat-cell *matCellDef="let element"> {{element.acumulado}} </td>
                    </ng-container>

                    <ng-container matColumnDef="promedio">
                        <th class="text-center" mat-header-cell *matHeaderCellDef>Grados Día Promedio</th>
                        <td class="text-center" mat-cell *matCellDef="let element"> {{element.promedio}} </td>
                    </ng-container>

                    <ng-container matColumnDef="maximo">
                        <th class="text-center" mat-header-cell *matHeaderCellDef>Grados Día diario Max</th>
                        <td class="text-center" mat-cell *matCellDef="let element"> {{element.maxima}} </td>
                    </ng-container>

                    <ng-container matColumnDef="contador">
                        <th class="text-center" mat-header-cell *matHeaderCellDef>Contador</th>
                        <td class="text-center" mat-cell *matCellDef="let element"> {{element.contador}} </td>
                    </ng-container>

                    <ng-container matColumnDef="opciones">
                        <th  mat-header-cell *matHeaderCellDef style="text-align: right;">Ver estacion</th>
                        <td  mat-cell *matCellDef="let element" style="text-align: right;">
                            <div class="d-flex flex-row-reverse align-items-center">
                                <mat-checkbox #check (change)="checkTabla($event,element.estacion,check)"
                                    [checked]="element.opciones"></mat-checkbox>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <div *ngIf="estaciones.length == 0 || invalidDates" class="error-items mt-2">
                    <p>Seleccione los inputs requeridos para comenzar.</p>
                    <ul >
                        <li class="mb-1" *ngIf="estaciones.length == 0"> <b>Error:</b> Seleccione al menos una estación.</li>
                        <li class="mb-1" *ngIf="invalidDates"><b>Error:</b> Selecciones un rango de fecha.</li>
                    </ul>
                </div>
                <hr>
                <div class="estaciones-no-data" *ngIf="stationsNoData.length>0">
                    <p class="mt-2">Las siguientes estaciones no tiene datos en el rango de fechas seleccionado.</p>
                    <ul >
                        <li class="mb-1" *ngFor="let s of stationsNoData"> <b>{{s}}</b></li>
                    </ul>
                </div>
            </div>
        </mat-card>
    </div>


    <div *ngIf="estaciones.length > 0 && !invalidDates">
        <div class="col-12">
            <mat-card class="card p-1 px-2">
                <app-plot [titlePlot]="'Grafica Evolución'" [series]="normalSeries" 
                [loadingData]="loadingData" [typeChar]="typeChar" [ytext]="'Grados Día (gd)'"></app-plot>
            </mat-card>
        </div>

        <div *ngIf="groupCustom" class="col-12">
            <mat-card class="card p-1 px-2">
                <app-plot [titlePlot]="'Grafica Evolución Acumulada'" [series]="accumulatedSeries" [loadingData]="loadingData" [ytext]="'Grados Día (gd)'"></app-plot>
            </mat-card>
        </div>
    </div>

    <button (click)="dialogHelp()" id="help-buttom" mat-fab color="primary">
		<mat-icon>help</mat-icon>
	</button>
</div>