.row {
  border-radius: 8px;
}

#side-bar {
  border-color: #3d3332;
  border-radius: 8px;
  border-style: solid;
  border-width: thin;
  margin-top: 10px;
  padding: 5px;
  padding-bottom: 10px;

}

.mapa {
  height: 85vh;
}
