<footer class="footer bg-light py-5">
  <div class="container">
    <div class="row text-center">


    <div class="col-md-6 py-6 font-weight-light">

    <h3> Versión Demo realizada por: </h3>
        <div class=row>
          <div class="col-md-6 text-center" id="integrantes">
            <p> Bryan Townsend</p>
            <p> Danilo Araneda</p>
            <p> Angelo Perez</p>
          </div>
          <div class="col-md-6 text-center" id="correos">
            <p> btownsend@alumnosuls.cl</p>
            <p> daraneda@alumnosuls.cl</p>
            <p> aperez@alumnosuls.cl</p>
          </div>
        </div>
    </div>
    <div class="col-md-6 font-weight-light py-6">
      <h2>Proyecto GitHub</h2>
      <img src="assets/img/GitHub-Mark-64px.png"/>
    </div>
    </div>
  </div>

</footer>
