h3{
  text-align: left;
}

#correos p{
  color:rgb(87, 5, 5);
  text-align: left;
}

#integrantes p{
  text-align: left;
}

footer{
  border-color: #9B1C15;
  border-radius: 8px;
  border-top: solid;
}
