
<div class="map">
    <div *ngIf="estaciones.length == 0 && point==null" class="d-flex justify-content-between">
        <h2 class="m-0">Mapa - Seleccion Estaciones</h2>
        <span class="alert-input d-flex align-items-center">
            <b>Seleccione una Estacion</b>
            <mat-icon class="ms-1">info</mat-icon>
        </span>
    </div>
    
    <div class="d-flex flex-wrap justify-content-between pb-lg-1">
        <div class="flex-grow-1 d-flex flex-column flex-sm-row ">
            <mat-form-field class="mt-1 mt-sm-0 mn" appearance="fill">
                <mat-label>Tipo de Selección</mat-label>
                <mat-select (selectionChange)="changeMapSelectionType($event.value)" [value]="'individual'">
                    <mat-option *ngFor="let item of mapSelectionItems;" [value]="item.value">{{item.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field *ngIf="mapSelectionType=='point'" class="mt-1 mt-sm-0 ms-0 ms-sm-2 mn" appearance="fill">
                <mat-label>Filtro Estacion</mat-label>
                <mat-select (selectionChange)="requestStationsFilter($event.value)" [value]="'nearest'">
                    <mat-option *ngFor="let item of pointSelectionItems;" [value]="item.value">{{item.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    
        <div>
            <button class="h-100" mat-button [matMenuTriggerFor]="beforeMenu">
                <mat-icon>more_vert</mat-icon>
                <p class="d-none d-md-inline d-lg-none d-xl-inline">Opciones</p>
            </button>
            <mat-menu #beforeMenu="matMenu" class="ps-2"  xPosition="before" [overlapTrigger]="true">
                <mat-slide-toggle> Interpolacion </mat-slide-toggle>
                <mat-slide-toggle> Lineas de Referencia </mat-slide-toggle>
                <!-- <div>
                    <p class="d-inline me-2">Nro Estaciones</p>
                    <input class="d-inline" type="number" (change)="requestStationsFilter(stationsFilter)" value="4" min="4" [max]="mapMarkers.length">
                </div> -->
            </mat-menu>
        </div>
    </div>
    
    <div class="h-100">
        <google-map width="100%" height="100%" [options]="optionsMaps" (mapClick)="addPointCustom($event)">
            <map-circle *ngIf=" mapSelectionType == 'area'"
                [options]="optionsCircle"
                (circleDragend)="changeCircle($event)"
                (radiusChanged)="changeCircle($event)"
                (centerChanged)="changeCircle($event)">
            </map-circle>

            <map-marker *ngFor="let mark of mapMarkers;let i = index" [position]="mark.pos" [options]="mark.opt"
                (mapClick)="clickEstacion(i)">
            </map-marker>

            <map-heatmap-layer *ngIf="heatMapOn" [data]="heatmapData" [options]="heatmapOptions"> </map-heatmap-layer>
        </google-map>
    </div>
</div>