<label class="variable"></label>
  <h3>Variables</h3>



    <button class="btn" id="qm-variables" data-bs-toggle="modal" data-bs-target="#modalAyuda"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-question-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
    </svg></button>

    <label class="variable ">Variable:</label>
    <!--
    <select ngModel="selectedObjectTemperatura">
      <option *ngFor="let lang of variablesObject" [ngValue]="lang">
           {{lang.name}}
       </option>
    </select>
    -->


    <label class="variable ">Altura:</label>


    <select  class="form-select" aria-label="Alturas">
      <option selected>1.5 m</option>
      <option value="1">0.5 m</option>
      <option value="2">1 m</option>
      <option value="3">2 m</option>
    </select>

<!--


<div class="input-group mb-3 mt-3 ml-3 mr-3">
  <span class="input-group-text" id="basic-addon1">Estacion</span>
  <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Ej: La Serena" name="Estacion" ngModel>
  <datalist id="datalistOptions">
    <option value="Andacollo">
    <option value="La Serena">
    <option value="Coquimbo">
  </datalist>
</div>

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-bs-toggle="modal" data-bs-target="#modalEstacion">
  <label class="form-check-label" for="flexSwitchCheckDefault">Más Estaciones</label>
</div>



    <div class="modal" id="modalEstacion" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Búsqueda Avanzada Estaciones</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">


            <div class="form-check form-check-inline" role="group" aria-label="Basic checkbox toggle button group">

              <input type="checkbox" ngModel name="andacollo" class="btn-check" id="btncheck1" autocomplete="off">
              <label class="btn btn-outline-primary" for="btncheck1">Andacollo</label>

              <input type="checkbox" ngModel name="laSerena" class="btn-check" id="btncheck2" autocomplete="off">
              <label class="btn btn-outline-primary" for="btncheck2">La Serena</label>

              <input type="checkbox" ngModel name="coquimbo" class="btn-check" id="btncheck3" autocomplete="off">
              <label class="btn btn-outline-primary" for="btncheck3">Coquimbo</label>

              <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
              <label class="btn btn-outline-primary" for="btncheck4">Vicuña</label>

              <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
              <label class="btn btn-outline-primary" for="btncheck5">Cachiyuyo</label>

              <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
              <label class="btn btn-outline-primary" for="btncheck6">Rivadavia</label>


            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
    -->

