<!-- TEMPERATURA -->

<div>
  <br>
      <label for="minimo" class="form-label"> Temperatura Mínima:</label>
      <h3></h3>
      <label id="fPrice">0</label>
      <input type="range" class="form-range" name="temperaturaMinima" id="minimo" value="0" min="-50" max="50"
      oninput="document.getElementById('fPrice').innerHTML = this.value" ngModel />



  <br>
      <label for="maximo" class="form-label"> Temperatura Máxima:</label>
      <h3></h3>
      <label id="tPrice">30</label>

      <input type="range" class="form-range" name="temperaturaMaxima" id="maximo" value="30" min="-50" max="50"
          oninput="document.getElementById('tPrice').innerHTML = this.value" ngModel />




</div>
<!-- -->
