<h1 mat-dialog-title>Seleccione una Variable</h1>
<div mat-dialog-content>
    <mat-form-field class="w-100" appearance="fill">
        <mat-label>Variables</mat-label>
        <mat-select #variable>
            <mat-option *ngFor="let v of data;let i = index" [value]="i">
                {{v.variable}} [{{v.altura}}]
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="fill">
        <mat-label>Tipo de Operacion</mat-label>
        <mat-select  #operacion>
            <mat-option value="aditiva">Acumulada</mat-option>
            <mat-option value="promediada">Promediada</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <button class="w-100" (click)="selectVariable(variable,operacion)" mat-raised-button color="primary">Agregar</button>
</div>