<form [formGroup]="formOptions" class=" mt-2 d-grid  px-2" id="formulario">

	<div *ngIf="loadingVariables" class="d-flex justify-content-between">
		<b class="text-right" style="color: brown;">Cargando Variable...</b >
		<mat-spinner [diameter]="25"></mat-spinner>
	</div>

	<div *ngIf="stationsEmpty">
		<b class="text-right" style="color: brown;">Seleccione una estacion</b >
	</div>

	<mat-checkbox class="mb-1" [color]="'primary'" (change)="comparative($event)" [checked]="false">
		Comparativa de Estaciones
	</mat-checkbox>

	<div (click)="isEnabled()">
		<div class="d-flex justify-content-between ">
			<b>Variables</b>
			<span class="material-icons" #tooltip="matTooltip" matTooltip="Son las variables que es encuentran disponibles en la o las estaciones seleccionadas"
				[matTooltipPosition]="'right'" matTooltipHideDelay="5000">
				info
			</span>
		</div>
		<mat-form-field class="w-100" appearance="fill">
			<mat-label>
				Seleccione una Variable
			</mat-label>
			<mat-select formControlName="variable">
				<mat-option *ngFor="let opcion of variables" [value]="opcion.value">
					{{opcion.label}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>


	<div (click)="isEnabled()">
		<div class="d-flex justify-content-between ">
			<b>Periodo de análisis</b>
			<span class="material-icons" #tooltip="matTooltip" matTooltip="Rango de fecha en donde se ejecutara la busqueda"
				[matTooltipPosition]="'right'" matTooltipHideDelay="5000">
				info
			</span>
		</div>
		<mat-form-field class="w-100" appearance="fill">
			<mat-label>Ingrese un Rango de Fechas</mat-label>
			<mat-date-range-input [rangePicker]="picker" [max]="maxDate">
				<input matStartDate placeholder="Inicio" formControlName="fecha_inicio">
				<input matEndDate placeholder="Termino" formControlName="fecha_final">
			</mat-date-range-input>
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-date-range-picker #picker></mat-date-range-picker>
		</mat-form-field>
	</div>


	<div (click)="isEnabled()">
		<div class="d-flex justify-content-between ">
			<b>Agrupacion Temporal</b>
			<span class="material-icons" #tooltip="matTooltip" matTooltip="Forma de agrupacion temporal a plaicar sobre el rango de tiempo seleccionado"
				[matTooltipPosition]="'right'" matTooltipHideDelay="5000">
				info
			</span>
		</div>
		<mat-form-field class="w-100" appearance="fill">
			<mat-label>
				Seleccione un tipo de agrupacion temporal
			</mat-label>
			<mat-select [value]="'diario'" formControlName="agrupacion">
				<mat-option value="diaria">Diario</mat-option>
				<mat-option value="semanal">Semanal</mat-option>
				<mat-option value="mensual">Mensual</mat-option>
			</mat-select>
		</mat-form-field>
	</div>


	<div (click)="isEnabled()">
		<div class="d-flex justify-content-between ">
			<b>Operacion de Agrupacion</b>
			<span class="material-icons" #tooltip="matTooltip" matTooltip="Se refiere al tipo de operacion que se le aplicara a los grupos generados"
				[matTooltipPosition]="'right'" matTooltipHideDelay="5000">
				info
			</span>
		</div>
		<mat-form-field class="w-100" appearance="fill">
			<mat-label>
				Seleccione la operacion a aplicar
			</mat-label>
			<mat-select formControlName="tipo_operacion">
				<mat-option value="aditiva">Acumulado</mat-option>
				<mat-option value="promediada">Promedio</mat-option>
			</mat-select>
		</mat-form-field>
	</div>


	<div (click)="isOkOptions()" class="w-100">
		<button class="w-100 mt-2 boton" (click)="loadingData()" [disabled]="!formOptions.valid" mat-raised-button color="primary">
			<div class=" d-flex justify-content-center align-items-center">
				<mat-icon>manage_search</mat-icon> 
				Generar Grafico
			</div>
		</button>
	</div>

</form>























<!-- /////////////////////////////////////////////////TEMPLATES//////////////////////////////////////////////// -->
<!-- RANGO TIEMPO -->
<!-- <ng-template #rangeTime let-item='item'>
	<div class="d-flex justify-content-between">
		<b>Rango Horas</b>
		<span class="material-icons" matTooltip="{{item.descripcion}}" [matTooltipPosition]="'right'"
			matTooltipHideDelay="5000">
			info
		</span>
	</div>
	<div class="row">
		<div class="col-6 pe-1 ">
			<input [class.error]="errorTiempo1" type="time" class="time-picker" value="00:00"
				formControlName="{{item.formControlInicio}}">
			<label [class.error]="errorTiempo1" class="d-block" for="">Inicio</label>
		</div>
		<div class="col-6 ps-1">
			<input [class.error]="errorTiempo2" type="time" class="time-picker" value="00:00"
				formControlName="{{item.formControlTermino}}">
			<label [class.error]="errorTiempo2" class="d-block" style="text-align: right;" for="">Termino</label>
		</div>
	</div>
</ng-template>

RANGO FECHA --
<ng-template #rangeDate let-item='item'>
	<div class="d-flex justify-content-between ">
		<b>Fecha</b>
		<span class="material-icons" matTooltip="{{item.descripcion}}" [matTooltipPosition]="'right'"
			matTooltipHideDelay="5000">
			info
		</span>
	</div>
	<mat-form-field class="w-100" appearance="fill">
		<mat-label>Ingrese Rango de Fechas</mat-label>
		<mat-date-range-input [rangePicker]="picker">
			<input matStartDate placeholder="Inicio" formControlName="{{item.formControlInicio}}">
			<input matEndDate placeholder="Termino" formControlName="{{item.formControlTermino}}">
		</mat-date-range-input>
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-date-range-picker #picker></mat-date-range-picker>
	</mat-form-field>
</ng-template>

COMBO BOX 
<ng-template #comboBox let-item='item'>
	<div class="d-flex justify-content-between ">
		<b>{{item.nombre}}</b>
		<span class="material-icons" #tooltip="matTooltip" matTooltip="{{item.descripcion}}"
			[matTooltipPosition]="'right'" matTooltipHideDelay="5000">
			info
		</span>
	</div>
	<mat-form-field class="w-100" appearance="fill">
		<mat-label>
			{{item.mensajeCombo}}
		</mat-label>
		<mat-select formControlName="{{item.formControlName}}">
			<mat-option *ngFor="let opcion of item.opciones" [value]="opcion.valor">
				{{opcion.etiqueta}}
			</mat-option>
		</mat-select>
	</mat-form-field>
</ng-template> -->