<div class="d-flex flex-column-reverse flex-md-row flex-md-wrap m-2 mb-5 bg-light align-items-stretch">
	<div class="me-md-2">
		<mat-tab-group animationDuration="250ms">
			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">show_chart</mat-icon>
					Series
				</ng-template>
				<app-sidebar [itemsVariables]="this.itemsVariables.series" [filtros]="this.itemsFiltros.series">
				</app-sidebar>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">bar_chart</mat-icon>
					Histogramas
				</ng-template>
				<app-sidebar [itemsVariables]="this.itemsVariables.histogramas"
					[filtros]="this.itemsFiltros.histogramas"></app-sidebar>
			</mat-tab>
		</mat-tab-group>
	</div>
	<div class="flex-grow-1 mapa ">
		<app-map></app-map>
	</div>
</div>