<div>

  <h1 class="text-center">Ayuda Dashboard de Estacion Unica</h1>
  <hr>
  <div>
    <h2>Descripccion</h2>
    <p>Esta seccion es una dashboard para la visualcion de los datos generados por una unica estacion. Las visualzices
      disponibles en este dashboard son generadas dinamicamente a partir de las opciones configuradas por el
      usuario ,las cuales van desde la seleccion de una o mas variables a estudiar, seleccion del periodo de tiempo,
      tipo de agrupacion (diaria, semanal o mensual), tipo de operacion agragada (Aditiva o Promediada).
    </p>

    <p>Es importante tener en cuenta que el rango de tiempo y tipo de agrupacion, son configuraciones unicas, es decir,
      se aplicaran por igual a todas las series seleccionadas. En cambio el tipo de operacion agregada sera unico para
      cada serie.</p>

    <hr>

    <h2>Barra Lateral de Opciones</h2>
    <p>
      Seccion del dashboard que se encuentra al lado izquierdo de la pantalla, la cual es desplegada al clickearel
      boton marcado en el cuadro rojo. Este barra lateral contiene opciones que permiten configurar los siguientes
      aspectos:
    </p>
    <div class="d-flex">
      <img style="border:  3px solid black;" src="static/assets/sidebar.png" height="500px" alt="Imagen de SideBar">
      <div class="ms-2 flex-grow-1">

        <ul>
          <li>
            <b>(1) Tipo de Grafico:</b> Este Dashboard cuenta con 2 tipos de visulaicones, la visualcion multigrafico
            que pertiem seleccionar varias varialbe y generar un grafico para cada una de ellas. Estos graficos ademas
            estan sicronizados entre si. el otro tipo de visualicon disponible es de grafica, unioca en que todas la
            series son graficadas en un mismo grafico de linea.

          </li>
          <br>

          <li>
            <b>(2) Tipo de Subserie:</b>
            <p>
              Los registros de cada varialble proporcionado por el ceazamet cuentan con
              tres valores, los cuales son el minimo, el promdio y el maximo de las mediciones realizada durante una
              hora. Con esta opcion el usuario escoje aquella subserie de interes. Por defecto siempre esta
              seleccionado el promedio.<br> Es importante tener en cuenta que para las varialbes aditivas como
              lo pueden ser Horas frio o Evapotranpitracion, los valores son igulaes ya sea para el minimo , maximo o
              promedio.
            </p>

          </li>

          <br>
          <li>
            <b>(3) Seleccion de Variables:</b>
            <p>
              Esta opcion permite sleecionar otra varialbe de interes de la estacion.
              Las variales seleccionadas aparecen en la tabla inmediatamente inferior. APra seleciconar una nueva
              varaible basta con clicker el boton azul marcado en el cuadro narango el cual desplegara un modal en
              el centro de la pantalla el cual cuenta con dos selectores (variable y la operacion agregada a aplicar).
            </p>
          </li>

          <li>
            <b>(4) Rango de Fechas:</b>
            <p>
              Indica el periodo de tiempo selecciano. Este es modificable mediante el selector de fechas y para
              actualizar la visualzaicon hay que clicker el boton de actuazliar.
            </p>
          </li>
        </ul>

      </div>
    </div>

    <hr>

    <h3>Graficos</h3>
    <p>Achieve the maximum speed possible on the Web Platform today, and take it further, via Web
      Workers and server-side rendering. Angular puts you in control over scalability. Meet huge
      data requirements by building data models on RxJS, Immutable.js or another push-model.</p>

  </div>
  <mat-dialog-actions align="end">
    <button mat-button color="primary" mat-dialog-close>Cerrar</button>
  </mat-dialog-actions>
</div>
