<form [formGroup]="formGrafico" (submit)="generarGrafico()" class=" mt-2 d-grid  px-2" id="formulario">

	<mat-checkbox [color]="'primary'" (change)="comparativa($event)" [checked]="checkComparativa">
		Comparativa de Estaciones
	</mat-checkbox>

	<!-- variables -->
	<div class="contenedor">
		<div *ngIf="error" style="max-width: 304px; color: brown;">La base de datos se encuentra deshabilitada en estos momentos</div>
		<div class="d-flex justify-content-between" *ngIf="loadVariable">Cargando Variables...<mat-spinner class="d-inline" [diameter]=20></mat-spinner></div>
		<label class="titulo">Variables</label>
		<div *ngFor="let item of itemsVariables">
			<ng-container *ngTemplateOutlet="comboBox; context:{item:item}"></ng-container>
		</div>
	</div>

	<!-- filtros -->
	<div class="contenedor">
		<label class="titulo">Filtros</label>

		<div *ngFor="let item of itemsFiltros">
			<ng-container *ngIf="item.tipo == 'rango fecha'" [ngTemplateOutlet]="rangeDate"
				[ngTemplateOutletContext]="{item:item}">
			</ng-container>

			<ng-container *ngIf="item.tipo == 'rango tiempo'" [ngTemplateOutlet]="rangeTime"
				[ngTemplateOutletContext]="{item:item}">
			</ng-container>

			<ng-container *ngIf="item.tipo == 'combo box'" [ngTemplateOutlet]="comboBox"
				[ngTemplateOutletContext]="{item:item}">
			</ng-container>
		</div>
	</div>

	<button class="mt-2 boton" [disabled]="!formGrafico.valid" mat-raised-button color="primary">
		<div class=" d-flex justify-content-center align-items-center" >
			<mat-icon>manage_search</mat-icon>
			Generar Grafico
		</div>
	</button>


	<!-- /////////////////////////////////////////////////TEMPLATES//////////////////////////////////////////////// -->
	<!-- RANGO TIEMPO -->
	<ng-template #rangeTime let-item='item'>
		<div class="d-flex justify-content-between">
			<b>Rango Horas</b>
			<span class="material-icons" matTooltip="{{item.descripcion}}" [matTooltipPosition]="'right'"
				matTooltipHideDelay="5000">
				info
			</span>
		</div>
		<!-- <div class="d-flex justify-content-between "> -->
		<div class="row">
			<div class="col-6 pe-1 ">
				<input [class.error]="errorTiempo1" type="time" class="time-picker" value="00:00"
					formControlName="{{item.formControlInicio}}">
				<label [class.error]="errorTiempo1" class="d-block" for="">Inicio</label>
			</div>
			<div class="col-6 ps-1">
				<input [class.error]="errorTiempo2" type="time" class="time-picker" value="00:00"
					formControlName="{{item.formControlTermino}}">
				<label [class.error]="errorTiempo2" class="d-block" style="text-align: right;" for="">Termino</label>
			</div>
		</div>
	</ng-template>

	<!-- RANGO FECHA -->
	<ng-template #rangeDate let-item='item'>
		<div class="d-flex justify-content-between ">
			<b>Fecha</b>
			<span class="material-icons" matTooltip="{{item.descripcion}}" [matTooltipPosition]="'right'"
				matTooltipHideDelay="5000">
				info
			</span>
		</div>
		<mat-form-field class="w-100" appearance="fill">
			<mat-label>Ingrese Rango de Fechas</mat-label>
			<mat-date-range-input [rangePicker]="picker">
				<input matStartDate placeholder="Inicio" formControlName="{{item.formControlInicio}}">
				<input matEndDate placeholder="Termino" formControlName="{{item.formControlTermino}}">
			</mat-date-range-input>
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-date-range-picker #picker></mat-date-range-picker>
		</mat-form-field>
	</ng-template>

	<!-- COMBO BOX -->
	<ng-template #comboBox let-item='item'>
		<div class="d-flex justify-content-between ">
			<b>{{item.nombre}}</b>
			<span class="material-icons" #tooltip="matTooltip" matTooltip="{{item.descripcion}}"
				[matTooltipPosition]="'right'" matTooltipHideDelay="5000">
				info
			</span>
		</div>
		<mat-form-field class="w-100" appearance="fill">
			<mat-label>
				{{item.mensajeCombo}}
			</mat-label>
			<mat-select formControlName="{{item.formControlName}}">
				<mat-option *ngFor="let opcion of item.opciones" [value]="opcion.valor"
					(click)="cambiarFiltros(opcion.valor,item.formControlName)">
					{{opcion.etiqueta}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</ng-template>

</form>