<nav class="navbar">
	<div class="d-flex justify-content-between align-items-center h-100 menu">
		<div class="logo" routerLink="/"><b> Demo Coquimbo Engine</b></div>

		<button mat-flat-button class="toggle-button" color="primary" (click)="toggleMenu()">
			<mat-icon>menu</mat-icon>
		</button>
	</div>
	
	<div #seccion class="botones-seccion me-2">
		
		<div class="botones-lista">
			<button [ngClass]="{'selected':menu[0]}" class="boton-nav" color="primary" (click)="cambiar(0)" mat-flat-button
				routerLink="">
				<mat-icon>timeline</mat-icon>
				Historicidad
			</button>

			<button [ngClass]="{'selected':menu[1]}" class="boton-nav" color="primary" (click)="cambiar(1)" mat-flat-button
				routerLink="/casos_uso">
				<mat-icon>layers</mat-icon>
				Casos de Uso
			</button>

			<button [ngClass]="{'selected':menu[2]}" class="boton-nav" color="primary" (click)="cambiar(2)" mat-flat-button
				routerLink="/acerca_de">
				<mat-icon>info</mat-icon>
				Acerca de 
			</button>
		</div>
	</div>
</nav>