<div class="container-fluid bg-light " id="historicidad">
  <div class="row">
    <div class="col-3 " id="sidebar">
      <div class="row mx-2 px-2 my-1 py-1">
        <div class="form-group mx-2 my-1 px-2 py-1">

    <div class="form-group mt-5">
      <input type="button" class="btn btn-danger center" type="submit" id="buscador" name="submit" value="Ver Mapa" />
    </div>
        </div>
      </div>
    </div>
    <div class="col-9" id="mapa">
      <img src="assets/img/mapa1.png" class ="ml-1" style="height:600px;">
    </div>
</div>
</div>


