#interpolacion{
  height:1000px;
}
#buscador{
  margin-left: 100px;
}
.row{

  border-radius: 8px;
}
.variable{
  color:#9B1C15;
  font-size: x-large;
}

.tipo{
  font-weight: bolder;
  text-align: left;
}



#sidebar2{
  border-color: #805e5c;
  border-radius: 8px;
  border-style: solid;
  border-width: thin;
}

.variable{
  color:#9B1C15;
  font-size: x-large;
}






