

  <div class="p-2 bg-light align-items-center">
    <label class="fecha"></label>
      <h3>Fecha</h3>

    <button class="btn" id="qm-fecha" data-bs-toggle="modal" data-bs-target="#modalAyuda"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-question-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
    </svg></button>

  </div>
    <div class="p-2 bg-light text-left">
      <label class="variable ">Selección Fecha:</label>
    </div>
    <div class="p-2 bg-light text-left">

      <select name="criterios de seleccion" class="form-control" id="criterios" aria-label="criterios de fecha" required>
        <option value="0">Customize</option>
        <option value="1">Últimos 15 Días</option>
        <option value="2">Estación Verano</option>
        <option value="3">Estación Otoño</option>
        <option value="4">Estación Invierno</option>
        <option value="5">Estación Primavera</option>
        <option value="6">Análisis por Mes</option>
        <option value="7">Análisis por Años</option>
      </select>

    </div>

    <div class="p-2 bg-light text-left">
      <div class="input-group  mb-3 mt-3">
        <div class="text-left">
          <label for="final">Fecha Inicial:</label>
          <input type="date" id="Fecha Inicio" name="FechaInicial">
        </div>
        <div class="text-left">
          <label for="final">Fecha Final:</label>
          <input type="date" id="Fecha Final" name="FechaFinal">
        </div>
        <div class="text-left">
          <label for="final">Hora Inicio:</label>
          <input type="time" id="Hora Inicio" name="Inicio">
        </div>
        <div class="text-left">
          <label for="final">Hora Termino:</label>
          <input type="time" id="Hora Final" name="Final">
        </div>
      </div>
    </div>



 <!--


    <br>
    <div class="input-group mb-3 mt-3">
      <label for="inicio">Fecha de Inicio:</label>
      <br>
      <input type="datetime-local" id="Inicio" name="Inicio">
    </div>
    <div class="input-group  mb-3 mt-3">
      <label for="final">Fecha de Final:</label>
      <input type="datetime-local" id="Final" name="Final">
    </div>



    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-bs-toggle="modal" data-bs-target="#modalFecha">
      <label class="form-check-label" for="flexSwitchCheckDefault">Fechas Específicas</label>
    </div>

      <div class="modal" id="modalFecha" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Fecha de Interés</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <label>Año</label>
                <input type="checkbox" ngModel name="2014" class="btn-check" id="btncheck11" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck11">2014</label>

                <input type="checkbox" ngModel name="2015" class="btn-check" id="btncheck22" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck22">2015</label>

                <input type="checkbox" ngModel name="2016" class="btn-check" id="btncheck33" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck33">2016</label>
              </div>
              <hr class="bg-light">
              <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <label>Mes</label>
                <input type="checkbox" ngModel name="Enero" class="btn-check" id="btncheck44" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck44">Enero</label>

                <input type="checkbox" ngModel name="Febrero" class="btn-check" id="btncheck55" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck55">Febrero</label>

                <input type="checkbox" ngModel name="Marzo" class="btn-check" id="btncheck66" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck66">Marzo</label>
              </div>
              <hr class="bg-light">
              <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <label>Hora</label>
                <input type="checkbox" ngModel name="00" class="btn-check" id="btncheck77" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck77">16:00</label>

                <input type="checkbox" ngModel name="01" class="btn-check" id="btncheck88" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck88">17:00</label>

                <input type="checkbox" ngModel name="02" class="btn-check" id="btncheck99" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck99">18:00</label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" data-dismiss="modal" class="btn btn-primary">Guardar Cambios</button>
            </div>
          </div>
        </div>
      </div>


  -->
