<div class="row m-1 gx-2 gy-2 ">

    <h1 class="col-12 col-xl-6 text-center" style="margin: auto; font-size: 30px;">Horas Frio</h1>
    <div class="col-12 col-xl-6">
        <mat-card class="input card p-1 px-2 ">
            <h2 class="m-0">Input Temporales</h2>
            <div class=" d-flex justify-content-between">
                <div class="flex-grow-1 d-flex flex-column flex-sm-row ">
                    <mat-form-field class="mt-1 mt-sm-0" style="margin-bottom: -15px;" appearance="fill">
                        <mat-label>Intervalo de Fechas</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="Inicio">
                            <input matEndDate placeholder="Termino">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>

                    <mat-form-field *ngIf="true" class="mt-1 mt-sm-0 ms-0 ms-sm-2" style="margin-bottom: -15px;"
                        appearance="fill">
                        <mat-label>Resolucion</mat-label>
                        <mat-select [value]="'dia'" >
                            <mat-option [value]="'dia'" >
                                Diaria
                            </mat-option>
                            <mat-option [value]="'semana'">
                                Semanal
                            </mat-option>
                            <mat-option [value]="'mes'">
                                Mensual
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <button class="px-0 pe-md-2" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                    <p class="d-none d-md-inline ">Opciones</p>
                </button>
                <mat-menu #menu="matMenu" class="ps-2" xPosition="before">
                    <button mat-menu-item>
                        <span>Examinar Intervalo</span>
                    </button>
                    <button mat-menu-item>
                        <span>Comparacion por Temporadas</span>
                    </button>
                </mat-menu>
            </div>

        </mat-card>
    </div>

    <!-- /////////////////////////////////////////////////////////////////////////////// -->

    <div class="d-none d-lg-inline col-6 col-lg-3 " style="margin-bottom: -18px">
        <mat-card class="dato card">
            <mat-card-title>Total</mat-card-title>
            <mat-card-subtitle>Vicuña</mat-card-subtitle>
            <h1 style="color: #3f8cb5;"><b>110 </b>
                <p>Hf</p>
            </h1>
        </mat-card>
    </div>

    <div class="d-none d-lg-inline col-6 col-lg-3" style="margin-bottom: -18px">
        <mat-card class="dato card">
            <mat-card-title>Promedio</mat-card-title>
            <mat-card-subtitle>(9/6/20 - 20/6/20)</mat-card-subtitle>
            <h1 style="color: #3f8cb5;"><b>13 </b>
                <p>Hf</p>
            </h1>
        </mat-card>
    </div>

    <div class="d-none d-lg-inline col-6 col-lg-3  " style="margin-bottom: -18px">
        <mat-card class="dato card">
            <mat-card-title>Promedio Seleccionado</mat-card-title>
            <mat-card-subtitle>(12/6/20 - 19/6/20)</mat-card-subtitle>
            <h1 style="color: #683fb5;"><b>11 </b>
                <p>Hf</p>
            </h1>
        </mat-card>
    </div>

    <div class="d-none d-lg-inline col-6 col-lg-3 " style="margin-bottom: -18px">
        <mat-card class="dato card">
            <mat-card-title>Total Seleccionado</mat-card-title>
            <mat-card-subtitle>(12/6/20 - 19/6/20)</mat-card-subtitle>
            <h1 style="color: #683fb5;"><b>80 </b>
                <p>Hf</p>
            </h1>
        </mat-card>
    </div>

    <!-- /////////////////////////////////////////////////////////////////////////////// -->

    <div class="col-12 col-lg-6">
        <mat-card class="card map p-2">
            <!-- <h2 class="m-0">Input Espacial</h2> -->
            <div class="d-flex flex-wrap justify-content-between pb-lg-1">

                <div class="flex-grow-1 d-flex flex-column flex-sm-row ">
                    <mat-form-field class="mt-1 mt-sm-0" style="margin-bottom: -15px;" appearance="fill">
                        <mat-label>Tipo de Selección</mat-label>
                        <mat-select (selectionChange)="seleccionMapa($event)">
                            <mat-option [value]="'individual'">
                                Selección Individual
                            </mat-option>
                            <mat-option [value]="'area'">
                                Selección por Area
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field *ngIf="mapaArea" class="mt-1 mt-sm-0 ms-0 ms-sm-2" style="margin: 0px 0px -15px 0px"
                        appearance="fill">
                        <mat-label>Cálculo del Centro</mat-label>
                        <mat-select>
                            <mat-option [value]="'cercana'">
                                Estacion mas Cercana
                            </mat-option>
                            <mat-option [value]="'line'">
                                Linea de Costa Similar
                            </mat-option>
                            <mat-option [value]="'height'">
                                Altura Similar
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <button mat-button [matMenuTriggerFor]="beforeMenu">
                    <mat-icon>more_vert</mat-icon>
                    <p class="d-none d-md-inline d-lg-none d-xl-inline">Opciones</p>
                </button>
                <mat-menu #beforeMenu="matMenu" class="ps-2" xPosition="before">
                    <mat-slide-toggle> Interpolacion </mat-slide-toggle>
                    <mat-slide-toggle> Estaciones sin datos </mat-slide-toggle>
                    <mat-slide-toggle> Lineas de Referencia </mat-slide-toggle>
                </mat-menu>
            </div>
            <div class="h-100">
                <google-map width="100%" height="100%" [options]="optionsMaps">
                    <map-circle *ngIf="mapaArea" [options]="optionsCircle" (circleDragend)="changeCircle($event)"
                        (radiusChanged)="changeCircle($event)" (centerChanged)="changeCircle($event)">
                    </map-circle>
                    <map-marker #marker="mapMarker" *ngFor="let mark of markers1;let i = index" [position]="mark.pos"
                        [options]="mark.opt" (mapClick)="openInfoWindow(marker)">
                    </map-marker>
                    <map-heatmap-layer [data]="heatmapData" [options]="heatmapOptions"></map-heatmap-layer>
                    <map-info-window>
                        <h1>Info de la estacion x</h1>
                    </map-info-window>
                </google-map>
            </div>

        </mat-card>
    </div>

    <!-- /////////////////////////////////////////////////////////////////////////////// -->

    <div class="d-lg-none col-6 col-lg-3 " style="margin-bottom: -18px">
        <mat-card class="dato card">
            <mat-card-title>Total</mat-card-title>
            <mat-card-subtitle>Vicuña</mat-card-subtitle>
            <h1 style="color: #3f8cb5;"><b>110 </b>
                <p>Hf</p>
            </h1>
        </mat-card>
    </div>

    <div class="d-lg-none col-6 col-lg-3" style="margin-bottom: -18px">
        <mat-card class="dato card">
            <mat-card-title>Promedio</mat-card-title>
            <mat-card-subtitle>(9/6/20 - 20/6/20)</mat-card-subtitle>
            <h1 style="color: #3f8cb5;"><b>13 </b>
                <p>Hf</p>
            </h1>
        </mat-card>
    </div>

    <div class="d-lg-none col-6 col-lg-3  " style="margin-bottom: -18px">
        <mat-card class="dato card">
            <mat-card-title>Promedio Seleccionado</mat-card-title>
            <mat-card-subtitle>(12/6/20 - 19/6/20)</mat-card-subtitle>
            <h1 style="color: #683fb5;"><b>11 </b>
                <p>Hf</p>
            </h1>
        </mat-card>
    </div>



    <div class="d-lg-none col-6 col-lg-3 " style="margin-bottom: -18px">
        <mat-card class="dato card">
            <mat-card-title>Total Seleccionado</mat-card-title>
            <mat-card-subtitle>(12/6/20 - 19/6/20)</mat-card-subtitle>
            <h1 style="color: #683fb5;"><b>80 </b>
                <p>Hf</p>
            </h1>
        </mat-card>
    </div>

    <!-- /////////////////////////////////////////////////////////////////////////////// -->

    <div class="col-12 col-lg-6 d-flex flex-column">
        <mat-card class="card p-2 mb-2 ">
            <h2 class="m-0">Datos Estaciones Seleccionadas</h2>
            <!-- <div style=" max-height: 290px; background-color: #23814f; overflow: auto;"> -->
            <div style="overflow: auto; max-height: 25vh">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">

                    <!-- Fecha -->
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef> Estacion </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <!-- Acumulado -->
                    <ng-container matColumnDef="acumulado">
                        <th mat-header-cell *matHeaderCellDef> Hf Total <br> Acumulada </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Intensidad -->
                    <ng-container matColumnDef="intensidad">
                        <th mat-header-cell *matHeaderCellDef> Hf Promedio <br> Promedio </th>
                        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                    </ng-container>

                    <!-- Duracion -->
                    <ng-container matColumnDef="duracion">
                        <th mat-header-cell *matHeaderCellDef> Hf diario Max </th>
                        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                    </ng-container>

                    <!-- Acciones -->
                    <ng-container matColumnDef="detalle">
                        <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Ver estacion </th>
                        <td mat-cell *matCellDef="let element" style="text-align: right;">
                            <div class="d-flex flex-row-reverse align-items-center">
                                <mat-checkbox #check (change)="checkTabla($event,element.position)"></mat-checkbox>
                                <mat-icon class="me-2" (click)="clickTabla(element.position,check)">search</mat-icon>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-card>

        <mat-card class="card">
            <apx-chart [series]="chartOptionsLine.series" [chart]="chartOptionsLine.chart"
                [xaxis]="chartOptionsLine.xaxis" [markers]="chartOptionsLine.markers" [stroke]="chartOptionsLine.stroke"
                [yaxis]="chartOptionsLine.yaxis" [dataLabels]="chartOptionsLine.dataLabels"
                [title]="chartOptionsLine.title" [fill]="chartOptionsLine.fill" [tooltip]="chartOptionsLine.tooltip"
                [legend]="chartOptionsLine.legend"></apx-chart>
        </mat-card>
    </div>

</div>