* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}


.conteiner {
  padding: 15px 15px 15px 15px;
  height: 90vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  max-width: 100%;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  
}

@media (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .conteiner{
    height: auto;
  }
}



.skill-card {
  padding: 20px 20px 18px 20px;
  background-color: #FFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    .skill-card__header {
      height: 35px;
    }

    .skill-card__body {
      height: 280px;
    }
  }

  .skill-card__header {
    height: 250px;
    margin: -20px -20px 20px -20px;
    transition: height .5s;
    overflow: hidden;

    .skill-card__icon {
      margin: auto;
      transition: transform .5s;
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }

  .skill-card__body {
    height: 65px;
    transition: height .5s;
    margin: -20px -20px -20px -20px;
    padding: 10px 15px 10px 15px;
    color: white;
    overflow: hidden;
	background: rgb(45,51,159);
background: linear-gradient(0deg, rgba(45,51,159,1) 0%, rgba(23,24,78,1) 50%, rgba(46,63,185,1) 99%);

    .skill-card__title {
      font-size: 1.2em;
      font-weight: 510;
      text-transform: uppercase;
    }

    .skill-card__duration {
      color: #9E9E9E;
      font-style: italic;
    }
  }
}
