<!-- spinner -->
<div *ngIf="cargando" class="d-flex justify-content-center h-100">
    <mat-spinner [diameter]="200" class="align-self-center"></mat-spinner>
</div>

<div class="h-100 d-flex flex-column my-2"  *ngIf="!cargando && !error">

    <h1 class="text-center"> dfasdasdasdasfasf</h1>
    <!-- AREA OPCIONES -->
    <div class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-stretch"
        *ngIf="!cargando && !error">
    
        <div class="d-flex mt-3 mt-md-0">
            <mat-form-field class="flex-grow-1 mx-2" appearance="fill">
                <mat-label>Tipo de Grafico</mat-label>
                <mat-select [(value)]="tipoGrafico">
                    <mat-option value="Linea">Linea</mat-option>
                </mat-select>
            </mat-form-field>
    
            <button mat-button class="opciones flex-grow-1 mx-2" style="text-align: left;" [matMenuTriggerFor]="opciones">
                <mat-icon>more_vert</mat-icon>
                Opciones de Grafico
            </button>
            <mat-menu #opciones="matMenu">
                <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>voicemail</mat-icon>
                    <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                </button>
            </mat-menu>
        </div>
    
        <button class="opciones mx-2" mat-stroked-button color="primary" (click)="volverMap()">
            <mat-icon>map</mat-icon>
            Volver al Mapa
        </button>
    </div>
    
    <!-- AREA GRAFICOS -->
    <div class="h-100 mx-2">
        <div *ngIf="tipoGrafico=='Linea'">
            <div id="chart-line">
                <apx-chart [series]="chartOptionsLine.series" [chart]="chartOptionsLine.chart" [xaxis]="chartOptionsLine.xaxis"
                    [yaxis]="chartOptionsLine.yaxis" [dataLabels]="chartOptionsLine.dataLabels"
                    [colors]="chartOptionsLine.colors" [fill]="chartOptionsLine.fill" [markers]="chartOptionsLine.markers"
                    [stroke]="chartOptionsLine.stroke" [legend]="chartOptionsLine.legend"></apx-chart>
            </div>
    
            <mat-button-toggle-group (change)="cambiarVariable($event)">
                <mat-button-toggle value="minimos">Minimas</mat-button-toggle>
                <mat-button-toggle value="promedios" [checked]="true">Promedio</mat-button-toggle>
                <mat-button-toggle value="maximos">Maximas</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
</div>


<div *ngIf="error">
    <h1>{{error|json}}</h1>
</div>