.opciones {
    height: 52px;
    margin-left: 10px;
    background-color: rgba(238, 238, 238, 0.767);
    border: none;
    border-bottom-style: solid;
    padding-left: 7px;
    border-width: 1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: black;
  }
  
  .opciones:hover {
    border-width: 2px;
  }
  
  .checkBox{
    padding: 10px;
  }
  