
.gradient{
  background: rgb(155,175,210);
  background: linear-gradient(180deg, rgba(155,175,210,1) 0%, rgba(153,197,253,1) 44%);
}


.page-header{

  font-size: 1.25 rem;
  color: #fff;
}

.container{
  border-radius: 16px;
}


h1{

  color:#2D0B0B;
  font-size: xx-large;
  font-weight: bolder;
  padding: auto;
  text-align: center;
}
h2{

  color: #2D0B0B;

  inline-size: auto;
  text-align: center;
  margin-top: 4rem;
}
button{
  margin-top: 4rem;
  margin-left: 10rem;
  align-items: center;
  border-radius: 32px;

}
