<main class="gradient w-100">
	<div class="d-flex flex-column flex-lg-row justify-content-center align-items-center">
		<div class="mt-3 mt-lg-0">
			<h1 class="font-weight-bold"> Demo </h1>
			<h2 class="font-weight-bold mb-3">Aplicación para analizar datos históricos otorgado por Ceazamet</h2>
			<h3 class="d-flex text-center w-100 w-md-50 " style="padding: 50px;">
				Aplicación correspondiente a proyecto de título para optar al grado de Ingeníero en Computación. 
				La aplicación consiste en 3 casos de usos y un registro de historicidad, los cuales fueron creados a partir de requerimientos obtenidos 
				por un grupo de investigadores de PROMMRA.
				Los datos utilizados en esta aplicación, se obtuvieron de la página web del ceazamet. 
			</h3>
			<button onclick="window.location.href='http://www.ceazamet.cl/'">
				Ver Datos Ceazamet
			</button>
		</div>
		<div >
			<img src="static/assets/img/volantin.png" alt="Header Image" />
		</div>
	</div>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
		<path fill="#A4DCEF" fill-opacity="1" d="M0,160L48,170.7C96,181,192,203,288,197.3C384,192,480,160,576,149.3C672,139,768,149,864,144C960,139,
			1056,117,1152,112C1248,107,1344,117,1392,122.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,
			320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
		</path>
	</svg>
</main>