<footer class="footer bg-light py-2">
	<div class="row mx-5">
		<div class="col-md-8">
			<h3> Versión Demo realizada por: </h3>
			<div class=row>
				<ul class="col-md-4" id="integrantes">
					<li>Danilo Araneda</li>
					<li>Bryan Townsend</li>
				</ul>
				<ul class="col-md-8" id="correos">
					<li>daranedam@alumnosuls.cl</li>
					<li>btownsend@alumnosuls.cl</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4  d-flex  justify-content-center ">
			<a class="text-muted text-center" href="https://github.com/DaniloAraneda123/proyecto_titulo">
				<h3 class="mb-0">Proyecto GitHub</h3>
				<img src="assets/img/GitHub-Mark-64px.png" />
			</a>
		</div>
	</div>
</footer>