h3{
  text-align: left;
}

#integrantes p{
  color:rgb(87, 5, 5);
  text-align: left;
  list-style-type: circle;
}

#correos li {
  list-style-type: none;
}

footer{
  border-color: #9B1C15;
  border-radius: 8px;
  border-top: solid;
}
