#integrantes p{
  color:rgb(87, 5, 5);
  text-align: left;
  list-style-type: circle;
}

#correos li {
  list-style-type: none;
}

footer{
  border-color: #9B1C15;
  border-top: solid;
}

h2{
  font-weight: bolder;
}

.dev{
  font-size: 17px;
  margin-bottom: 4px;
  font-weight: 550;
}

.text-muted{
  color: #000;
}