<footer class="footer bg-light pt-2" >
	<div class="row mx-5">
		<div class="col-md-8">
			<h3> Versión Demo realizada por: </h3>
			<div class=row>
				<ul class="col-md-4" id="integrantes">
					<li>Danilo Araneda</li>
					<li>Bryan Townsend</li>
					<li>Angelo Perez</li>
				</ul>
				<ul class="col-md-8" id="correos">
					<li>btownsend@alumnosuls.cl</li>
					<li>daranedam@alumnosuls.cl</li>
					<li>aperez@alumnosuls.cl</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4  d-flex  justify-content-center ">
			<div class="text-center">
				<h3>Proyecto GitHub</h3>
				<img src="assets/img/GitHub-Mark-64px.png" style="width: 70px;"/>
			</div>
		</div>
	</div>
</footer>