<div class="bg-light ">
	<div class="row m-1 my-2">
		<mat-tab-group style="width: 20%;" animationDuration="400ms">
			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">show_chart</mat-icon>
					Series
				</ng-template>
				<app-sidebar [itemsVariables]="this.itemsVariables.series" [itemsFiltros]="this.itemsFiltros.series">
				</app-sidebar>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">bar_chart</mat-icon>
					Histogramas
				</ng-template>
				<app-sidebar [itemsVariables]="this.itemsVariables.histogramas"
					[itemsFiltros]="this.itemsFiltros.histogramas"></app-sidebar>
			</mat-tab>
		</mat-tab-group>
		<div class="col ">
			<!-- aqui debo meter el router outlet con el mapa , serie e histograma -->
			<app-map></app-map>
		</div>
	</div>
</div>