<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Estación</th>
      <th scope="col">Fecha</th>
      <th scope="col">Temperatura Mínima</th>
      <th scope="col">Temperatura Máxima</th>
      <th scope="col">Temperatura Promedio</th>
    </tr>
  </thead>
  <tbody>
    <!--
    <tr *ngFor=" let data of listdatos">
      <td>{{data.estacion}}</td>
      <td>{{data.fecha}}</td>
      <td>{{data.temperatura_minima}}</td>
      <td>{{data.temperatura_maxima}}</td>
      <td>{{data.temperatura_promedio}}</td>
    </tr>
    -->

    <tr>
      <td>Andacollo [Collowara]</td>
      <td>2014-01-13 16:00:00</td>
      <td>22.24</td>
      <td>24.9</td>
      <td>23.42</td>
    </tr>
    <tr>
      <td>Andacollo [Collowara]</td>
      <td>2014-01-13 17:00:00</td>
      <td>21.86</td>
      <td>25</td>
      <td>23.153</td>
    </tr>
    <tr>
      <td>Andacollo [Collowara]</td>
      <td>2014-01-13 18:00:00</td>
      <td>18.42</td>
      <td>21.73</td>
      <td>19.985</td>
    </tr>
  </tbody>
</table>
