.main-frame{
  width: auto;
  height: 100vh;
}

a{
  cursor: pointer;
}

.material-li{
  color: rgb(160, 0, 0);
}

#help-buttom{
  position: fixed;
  right: 3%;
  top:88%; 
  height: 85px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;


  mat-icon{
    height: 70px;
    width: 70px;
    font-size: 70px;
  }
}