<div style="height: 100vh;">
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="p-2" mode="side">
            <h2 class="text-center">Opciones de Visualización</h2>

            <h3 class="mb-1"><b>Visualizacion (Grafico)</b></h3>
            <mat-button-toggle-group class="w-100" (valueChange)="plotSelected=$event" value="multicharts">
                <mat-button-toggle class="w-50 text-center" value="multicharts">Multi Grafico</mat-button-toggle>
                <mat-button-toggle class="w-50 text-center" value="multilines">Grafica Unica</mat-button-toggle>
            </mat-button-toggle-group>

            <hr>

            <h3 class="mb-1"><b>Visualizacion</b></h3>
            <mat-button-toggle-group class="d-flex w-100" (valueChange)="setSubSerie($event)" value="promedio">
                <mat-button-toggle class="flex-grow-1 text-center" value="minimo">Minimo</mat-button-toggle>
                <mat-button-toggle class="flex-grow-1 text-center" value="promedio">Promedio</mat-button-toggle>
                <mat-button-toggle class="flex-grow-1 text-center" value="maximo">Maximo</mat-button-toggle>
            </mat-button-toggle-group>

            <hr>

            <h2 class="text-center">Opciones de datos</h2>

            <div class="d-flex justify-content-between align-items-center mb-1">
                <h3 class="mb-0"><b>Variables Seleccionadas</b></h3>
                <button mat-mini-fab color="primary" (click)="addVariable()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Variable</th>
                        <th scope="col">Altura</th>
                        <th scope="col">Tipo agrupacion</th>
                        <th class="text-center" scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let v of variablesSelected">
                        <td>{{v.variable}}</td>
                        <td>{{v.altura}}</td>
                        <td>{{v.tipo_operacion}}</td>
                        <td class="text-right">
                            <a (click)="eliminarVariable(v.variable,v.altura)">
                                <mat-icon color="red">delete</mat-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <h3 class="mb-1"><b>Rango de Fechas</b></h3>
            <mat-form-field class="w-100" appearance="fill" [formGroup]="range">
                <mat-label>Ingrese un Nuevo Rango</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date" formControlName="start">
                    <input matEndDate placeholder="End date" formControlName="end">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

                <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date
                        </mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
            </mat-form-field>
            <br>

            <button class="w-100" mat-raised-button (click)="changeRange()" color="primary">Actualizar</button>
        </mat-drawer>

        <div class="main-frame">
            <div class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-stretch">
                <button class="mx-2 mt-2" mat-button style="background-color: rgb(187, 187, 187);"
                    (click)="drawer.toggle()">
                    <mat-icon>reorder</mat-icon>
                </button>

                <!-- {{estacion}} -->

                <button class="opciones mx-2 mt-2" mat-stroked-button color="primary" (click)="volverMap()">
                    <mat-icon>map</mat-icon>
                    Volver al Mapa
                </button>
            </div>

            <div *ngIf="variablesSelected.length >0">
                <app-multigrafico *ngIf="plotSelected == 'multicharts'" [data]="series"></app-multigrafico>
                <app-multivariables *ngIf="plotSelected == 'multilines'" [data]="series"></app-multivariables>
            </div>
            <div *ngIf="variablesSelected.length == 0">
                <h1 class="text-center">No hay variables Seleccionadas</h1>
            </div>
            <div class="m-a w-100" *ngIf="cargando">
                <mat-spinner style="margin: auto"></mat-spinner>
            </div> 
            <div *ngIf="error">
                <h1 class="text-center">Error: {{error|json}}</h1>
            </div>
        </div>



        <!-- <div *ngIf="cargando" class="d-flex justify-content-center h-100">
            <mat-spinner [diameter]="200" class="align-self-center"></mat-spinner>
        </div>
        <div *ngIf="error">
            <h1>{{error|json}}</h1>
        </div> -->

    </mat-drawer-container>
</div>






















<div class="d-flex mt-3 mt-md-0">

    <!-- <button mat-button class="opciones flex-grow-1 mx-2" style="text-align: left;"
        [matMenuTriggerFor]="opciones">
        <mat-icon>more_vert</mat-icon>
        Opciones de Grafico
    </button>
    <mat-menu #opciones="matMenu">
        <button *ngIf="tipoGrafico=='MultiGrafico'" mat-menu-item
            [matMenuTriggerFor]="multiGraficas">Variables</button>
        <button *ngIf="tipoGrafico=='MultiVariables'" mat-menu-item
            [matMenuTriggerFor]="multiVariable">Variables</button>
        <mat-checkbox class="checkBox" [color]="'primary'" (change)="suavizarCurva($event)">
            Suavizar Curvas
        </mat-checkbox><br>
    </mat-menu>

    <mat-menu #multiGraficas="matMenu">
        <mat-checkbox *ngFor="let variable of variablesDisponibles_MG; let i = index"
            (change)="seleccionVariable_MG(i)" class="checkBox" [color]="'primary'"
            [checked]="variable.checked">
            {{variable.nombre}} [{{variable.altura}}]
        </mat-checkbox><br>
    </mat-menu>
    <mat-menu #multiVariable="matMenu">
        <mat-checkbox *ngFor="let variable of variablesDisponibles_UG; let i = index"
            (change)="seleccionVariable_UG(i)" class="checkBox" [color]="'primary'"
            [checked]="variable.checked">
            {{variable.nombre}} [{{variable.altura}}]
        </mat-checkbox><br>
    </mat-menu> -->

</div>